<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='styles/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='styles/administrator.css')}}">
    <title>Приложение</title>
</head>
<body>

    <header>
        <div class="content-container">
            <div class="nav">
                <div class="nav-home">
                    <div class="nav-home-ico">
                        <img src="{{ url_for( 'static', filename='images/home_ico_2.png')}}">
                    </div>

                    <div class="nav-home-text">
                        <a href="/home">
                            Главная
                        </a>
                    </div>
                </div>
    
                <div class="nav-menu">
                    {% for element in menu %}
                        {% if element.url == "/login/administrator" %}
                            <div class="nav-menu-element nav-menu-element-active">
                                <a href="{{element.url}}">
                                    {{element.name}}
                                </a>
                            </div>
                        {% else %}
                            <div class="nav-menu-element">
                                <a href="{{element.url}}">
                                    {{element.name}}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>

    <article> 
        <div class="content-container">
            <div class="display-content">

                <div class="display-fines">
                    <div class="fines-viewport">
                        <div calss="viewport-title">
                            Администратор: {{payload.last_login_data}}
                        </div>
                        <div class="viewport-feed">
                            {% for fine in payload.all_fines %}
                            <div class="fine-element">
                                <div class="header">
                                    Штраф: {{fine.date}} {{fine.time}}
                                </div>
                                <div class="violation">
                                    Код нарушения: {{fine.violation_code}}
                                </div>
                                <div class="inspector">
                                    Водитель: {{fine.driver_license}}
                                </div>
                                <div class="payment">
                                    id записи: {{fine.id}}
                                </div>
                                <div class="status">
                                    Оплата: {{fine.payment_state}}
                                </div>
                            </div>
                            {% endfor %}
                        </div>    
                    </div>
                    
                </div>

                <div class="display-edit">
                    <div class="edit-viewport">
                        <div calss="viewport-title">
                            Изменить
                        </div>
                        <form method="post">
                            <label>
                                ID записи
                                <input type="text" name="edit_violation_id" pattern="[0-9]+">
                            </label>
                            <br>
                            <label>
                                Новый статус записи
                                <input type="text" name="edit_violation_status" pattern="[0-1]+">
                            </label>
                            <br>
                            <button type="submit"> Изменить </button>  
                            <input type="hidden" name="action" value="edit">
                        </form>
                    </div>

                </div>

                <div class="display-delete">
                    <div class="delete-viewport">
                        <div calss="viewport-title">
                            Удалить
                        </div>
                        <form method="post">
                            <label>
                                ID записи
                                <input type="text" name="delete_violation_id" pattern="[0-9]+">
                            </label>
                            <br>
                            <button type="submit"> Удалить </button>  
                            <input type="hidden" name="action" value="delete">
                        </form>
                    </div>

                </div>
                
            </div>
        </div>
    </article>

    <footer>
        <div class="content-container">
            <div class="footer-info">
                Подготовленно в рамках курсового проекта. <br>
                Дисциплина: "Проектирование и разработка БД" <br>
                Студент: Башинский Р.А. <br>
                Группа: Б9121-09.03.04(4)
            </div>
        </div>
    </footer>
    
</body>
</html>