<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='styles/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='styles/driver.css')}}">
    <title>Приложение</title>
</head>
<body>

    <header>
        <div class="content-container">
            <div class="nav">
                <div class="nav-home">
                    <div class="nav-home-ico">
                        <img src="{{ url_for( 'static', filename='images/home_ico_2.png')}}">
                    </div>

                    <div class="nav-home-text">
                        <a href="/home">
                            Главная
                        </a>
                    </div>
                </div>
    
                <div class="nav-menu">
                    {% for element in menu %}
                        {% if element.url == "/login/driver" %}
                            <div class="nav-menu-element nav-menu-element-active">
                                <a href="{{element.url}}">
                                    {{element.name}}
                                </a>
                            </div>
                        {% else %}
                            <div class="nav-menu-element">
                                <a href="{{element.url}}">
                                    {{element.name}}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>

    <article> 
        <div class="content-container">
            <div class="display-content">
                <div class="display-fines">
                    <div class="fines-viewport">
                        <div class="viewport-title">
                            {{payload.driver_name}}
                        </div>
                        <div class="viewport-feed">
                            <div class="fine-element">
                                <div class="header">
                                    Штраф: 01.01.1997
                                </div>
                                <div class="violation">
                                    Код нарушения: 157
                                </div>
                                <div class="inspector">
                                    Инспектор: 124511249
                                </div>
                                <div class="payment">
                                    К оплате: 273 руб.
                                </div>
                                <div class="status">
                                    Не оплачено.
                                </div>
                            </div>
                            <div class="fine-element"></div>
                            <div class="fine-element"></div>
                            <div class="fine-element"></div>
                            <div class="fine-element"></div>
                            <div class="fine-element"></div>
                            <div class="fine-element"></div>
                            <div class="fine-element"></div>
                            <div class="fine-element"></div>
                            <div class="fine-element"></div>
                            <div class="fine-element"></div>
                            <div class="fine-element"></div>
                            <div class="fine-element"></div>
                        </div>
                    </div>
                </div>

                <div class="display-cars">
                    <div class="cars-viewport">
                        <div class="viewport-title">
                            Машины
                        </div>
                        <div class="viewport-feed">
                            <div class="car-element"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <footer>
        <div class="content-container">
            <div class="footer-info">
                Подготовленно в рамках курсового проекта. <br>
                Дисциплина: "Проектирование и разработка БД" <br>
                Студент: Башинский Р.А. <br>
                Группа: Б9121-09.03.04(4)
            </div>
        </div>
    </footer>
    
</body>
</html>