<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='styles/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='styles/driver.css')}}">
    <title>Приложение</title>
</head>
<body>

    <header>
        <div class="content-container">
            <div class="nav">
                <div class="nav-home">
                    <div class="nav-home-ico">
                        <img src="{{ url_for( 'static', filename='images/home_ico_2.png')}}">
                    </div>

                    <div class="nav-home-text">
                        <a href="/home">
                            Главная
                        </a>
                    </div>
                </div>
    
                <div class="nav-menu">
                    {% for element in menu %}
                        {% if element.url == "/login/driver" %}
                            <div class="nav-menu-element nav-menu-element-active">
                                <a href="{{element.url}}">
                                    {{element.name}}
                                </a>
                            </div>
                        {% else %}
                            <div class="nav-menu-element">
                                <a href="{{element.url}}">
                                    {{element.name}}
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </header>

    <article> 
        <div class="content-container">
            <div class="display-content">
                <div class="display-fines">
                    <div class="fines-viewport">
                        <div class="viewport-title">
                            {{payload.driver_name}}
                        </div>
                        <div class="viewport-feed">
                            {% for fine in payload.driver_fines %}
                                <div class="fine-element">
                                    <div class="header">
                                        Штраф: {{fine.date}}
                                    </div>
                                    <div class="violation">
                                        Код нарушения: {{fine.violation_code}}
                                    </div>
                                    <div class="inspector">
                                        Инспектор: {{fine.inspector_number}}
                                    </div>
                                    <div class="payment">
                                        К оплате: {{fine.payment_size}} руб.
                                    </div>
                                    <div class="status">
                                        Оплата: {{fine.payment_state}}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="display-cars">
                    <div class="cars-viewport">
                        <div class="viewport-title">
                            Машины
                        </div>
                        <div class="viewport-feed">
                            {% for car in payload.driver_car %}
                                <div class="car-element">
                                    <div class="registration-number">
                                        Номер: {{car.registration_number}}
                                    </div>
                                    <div class="registration-date">
                                        Регистрация: {{car.registration_date}}
                                    </div>
                                    <div class="brand">
                                        Марка: {{car.car_brand}}
                                    </div>
                                    <div class="model">
                                        Модель: {{car.car_model}}
                                    </div>
                                    <div class="color">
                                        Цвет: {{car.car_color}}
                                    </div>
                                    <div class="year">
                                        Год: {{car.manufactured_year}}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <footer>
        <div class="content-container">
            <div class="footer-info">
                Подготовленно в рамках курсового проекта. <br>
                Дисциплина: "Проектирование и разработка БД" <br>
                Студент: Башинский Р.А. <br>
                Группа: Б9121-09.03.04(4)
            </div>
        </div>
    </footer>
    
</body>
</html>